.hide {display: none;}
.image img{height: 300; width: 500;}
.add-record{float: left;margin: 50px 0 0 500px;}
.title{margin: 4% 0 4% 39%;}
.center {margin: 0% 0% 0% 34%;}
.add-record {float: left;margin: 0 0 0 463px;}